<div class="flex flex-col h-full w-full p-10">
  <div class="max-w-[150px] -mt-4">
    <button
      class="bg-gray-300 font-primary hover:bg-blue-700 text-white font-bold py-3 px-4 w-full rounded-[8px] focus:outline-none focus:shadow-outline"
      type="button"
      (click)="Back()"
    >
      Voltar
    </button>
  </div>
  <!-- formulario -->
  <form (ngSubmit)="CreateAnimal()" #form="ngForm">
    <div class="flex-1 flex mt-3">
      <!-- Upload de foto do animal desenvolvimento -->
      <div class="flex-1 flex flex-col items-center justify-center">
        <!-- Imagem do animal (imagem da web) -->
        <div class="w-80 h-60 border-4 border-gray-200 rounded p-2">
          <img
            src="https://images.unsplash.com/photo-1517849845537-4d257902454a?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="Foto do animal"
            class="w-full h-full object-cover rounded-md"
          />
        </div>
      </div>
      <!-- Primeiro card -->
      <div class="flex-2 w-full p-2">
        <!-- Campo Nome -->
        <div class="mb-2">
          <div class="flex flex-row">
            <label class="block text-black/60 text-md font-medium mb-2">
              Nome
            </label>
            <div *ngIf="name.invalid && name.touched">
              <p class="text-red-500 text-sm font-semibold pl-2 mt-1">
                - Campo Obrigatório
              </p>
            </div>
          </div>
          <input
            class="appearance-none shadow-[0_0_2px_rgba(0,0,0,0.25)] rounded-[8px] font-semibold w-full py-3 px-3 placeholder:text-black/40 text-black/80 text-[16px] leading-tight focus:outline-none focus:shadow-outline"
            type="text"
            placeholder="Rex"
            name="name"
            [(ngModel)]="Animal.name"
            #name="ngModel"
            required
          />
        </div>
        <div class="flex flex-row gap-4">
          <!-- Campo Idade -->
          <div class="mb-2 flex-1">
            <div class="flex flex-row">
              <label class="block text-black/60 text-md font-medium mb-2">
                Idade
              </label>
              <div *ngIf="age.invalid && age.touched">
                <p class="text-red-500 text-sm font-semibold pl-2 mt-1">
                  - Campo Obrigatorio
                </p>
              </div>
            </div>
            <input
              class="appearance-none shadow-[0_0_2px_rgba(0,0,0,0.25)] rounded-[8px] font-semibold w-full py-3 px-3 placeholder:text-black/40 text-black/80 text-[16px] leading-tight focus:outline-none focus:shadow-outline"
              type="text"
              placeholder="4 meses"
              name="age"
              required
              [(ngModel)]="Animal.age"
              #age="ngModel"
            />
          </div>
          <!-- Campo raca -->
          <div class="mb-2 flex-1">
            <div class="flex flex-row">
              <label class="block text-black/60 text-md font-medium mb-2">
                Raça
              </label>
              <div *ngIf="race.invalid && race.touched">
                <p class="text-red-500 text-sm font-semibold pl-2 mt-1">
                  - Campo Obrigatorio
                </p>
              </div>
            </div>
            <input
              class="appearance-none shadow-[0_0_2px_rgba(0,0,0,0.25)] rounded-[8px] font-semibold w-full py-3 px-3 placeholder:text-black/40 text-black/80 text-[16px] leading-tight focus:outline-none focus:shadow-outline"
              type="text"
              placeholder="Lavrador"
              name="race"
              required
              [(ngModel)]="Animal.race"
              #race="ngModel"
            />
          </div>
        </div>
        <div class="flex flex-row w-full gap-4">
          <!-- Campo genero -->
          <div class="mb-2 flex-1">
            <div class="flex flex-row">
              <label class="block text-black/60 text-md font-medium mb-2">
                Genero
              </label>
              <div *ngIf="gender.invalid && gender.touched">
                <p class="text-red-500 text-sm font-semibold pl-2 mt-1">
                  - Campo Obrigatorio
                </p>
              </div>
            </div>
            <!-- Select de genero -->
            <select
              class="w-full h-11 rounded-lg shadow-[0_0_2px_rgba(0,0,0,0.25)] px-3 py-2 text-base focus:border-orange-400 focus:outline-none focus:ring-1 focus:ring-orange-400"
              [(ngModel)]="Animal.gender"
              name="gender"
              #gender="ngModel"
              required
            >
              <option value="Macho">Masculino</option>
              <option value="Femea">Feminino</option>
              <option value="Desconhecido">Nao sei Informar</option>
              >
            </select>
          </div>

          <!-- Campo especie -->
          <div class="mb-2 flex-1">
            <div class="flex flex-row">
              <label class="block text-black/60 text-md font-medium mb-2">
                Especie
              </label>
              <div *ngIf="species.invalid && species.touched">
                <p class="text-red-500 text-sm font-semibold pl-2 mt-1">
                  - Campo Obrigatorio
                </p>
              </div>
            </div>
            <!-- Select de Espécie -->
            <select
              class="w-full h-11 rounded-lg shadow-[0_0_2px_rgba(0,0,0,0.25)] px-3 py-2 text-base focus:border-orange-400 focus:outline-none focus:ring-1 focus:ring-orange-400"
              [(ngModel)]="Animal.species"
              name="species"
              #species="ngModel"
              required
            >
              <option value="Cachorro">Cachorro</option>
              <option value="Gato">Gato</option>
              >
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-1">
      <div class="flex flex-row w-full gap-4">
        <!-- Campo cor -->
        <div class="mb-2 flex-1">
          <div class="flex flex-row">
            <label class="block text-black/60 text-md font-medium mb-2">
              Cor
            </label>
            <div *ngIf="color.invalid && color.touched">
              <p class="text-red-500 text-sm font-semibold pl-2 mt-1">
                - Campo Obrigatorio
              </p>
            </div>
          </div>
          <input
            class="appearance-none shadow-[0_0_2px_rgba(0,0,0,0.25)] rounded-[8px] font-semibold w-full py-3 px-3 placeholder:text-black/40 text-black/80 text-[16px] leading-tight focus:outline-none focus:shadow-outline"
            type="text"
            mask="Nome"
            required
            placeholder="Branco Rajado"
            name="color"
            [(ngModel)]="Animal.color"
            #color="ngModel"
          />
        </div>
        <!-- Campo Porte -->
        <div class="mb-2 flex-1">
          <div class="flex flex-row">
            <label class="block text-black/60 text-md font-medium mb-2">
              Porte
            </label>
            <div *ngIf="size.invalid && size.touched">
              <p class="text-red-500 text-sm font-semibold pl-2 mt-1">
                - Campo Obrigatorio
              </p>
            </div>
          </div>
          <!-- Select de genero -->
          <select
            class="w-full h-11 rounded-lg shadow-[0_0_2px_rgba(0,0,0,0.25)] px-3 py-2 text-base focus:border-orange-400 focus:outline-none focus:ring-1 focus:ring-orange-400"
            [(ngModel)]="Animal.size"
            name="size"
            #size="ngModel"
            required
          >
            <option value="Pequeno">Pequeno</option>
            <option value="Medio">Medio</option>
            <option value="Grande">Grande</option>
            <option value="Gigante">Gigante</option>
            <option value="Desconhecido">Nao sei Informar</option>
            >
          </select>
        </div>
      </div>
      <div class="flex flex-row w-full gap-4">
        <!-- Campo peso -->
        <div class="mb-2 flex-1">
          <div class="flex flex-row">
            <label class="block text-black/60 text-md font-medium mb-2">
              Peso
            </label>
            <div *ngIf="weight.invalid && weight.touched">
              <p class="text-red-500 text-sm font-semibold pl-2 mt-1">
                - Campo Obrigatorio
              </p>
            </div>
          </div>
          <input
            class="appearance-none shadow-[0_0_2px_rgba(0,0,0,0.25)] rounded-[8px] font-semibold w-full py-3 px-3 placeholder:text-black/40 text-black/80 text-[16px] leading-tight focus:outline-none focus:shadow-outline"
            type="text"
            mask="Nome"
            placeholder="15.5"
            required
            name="weight"
            [(ngModel)]="Animal.weight"
            #weight="ngModel"
          />
        </div>
        <!-- Campo altura -->
        <div class="mb-2 flex-1">
          <div class="flex flex-row">
            <label class="block text-black/60 text-md font-medium mb-2">
              Altura
            </label>
            <div *ngIf="height.invalid && height.touched">
              <p class="text-red-500 text-sm font-semibold pl-2 mt-1">
                - Campo Obrigatorio
              </p>
            </div>
          </div>
          <input
            class="appearance-none shadow-[0_0_2px_rgba(0,0,0,0.25)] rounded-[8px] font-semibold w-full py-3 px-3 placeholder:text-black/40 text-black/80 text-[16px] leading-tight focus:outline-none focus:shadow-outline"
            type="number"
            placeholder="45 (cm)"
            name="height"
            [(ngModel)]="Animal.height"
            #height="ngModel"
            required
          />
        </div>
      </div>
      <div class="mb-2 flex-1">
        <div class="flex justify-between items-center mb-2">
          <label class="block text-black/60 text-md font-medium" for="note">
            Descriçao
          </label>
          <span class="text-sm text-black/40">
            {{ Animal.physicalDescription.length }}/200
          </span>
        </div>

        <textarea
          class="appearance-none shadow-[0_0_2px_rgba(0,0,0,0.25)] rounded-[8px] font-semibold w-full h-18 py-3 px-3 placeholder:text-black/40 text-black/80 text-[16px] leading-tight focus:outline-none focus:shadow-outline resize-none"
          id="note"
          placeholder="Breve descricao das caracteristicas fisicas..."
          maxlength="200"
          name="note"
          [(ngModel)]="Animal.physicalDescription"
        ></textarea>
      </div>
    </div>
    <div class="flex-1">
      <div class="flex flex-row w-full gap-4">
        <!-- Campo genero -->
        <div class="mb-2 flex-1">
          <div class="flex flex-row">
            <label class="block text-black/60 text-md font-medium mb-2">
              Vacinado
            </label>
            <div *ngIf="vaccinated.invalid && vaccinated.touched">
              <p class="text-red-500 text-sm font-semibold pl-2 mt-1">
                - Campo Obrigatorio
              </p>
            </div>
          </div>
          <!-- Select de genero -->
          <select
            class="w-full h-11 rounded-lg shadow-[0_0_2px_rgba(0,0,0,0.25)] px-3 py-2 text-base focus:border-orange-400 focus:outline-none focus:ring-1 focus:ring-orange-400"
            [(ngModel)]="Animal.vaccinated"
            name="vaccinated"
            #vaccinated="ngModel"
            required
          >
            <option [ngValue]="false">Nao</option>
            <option [ngValue]="true">Sim</option>
            >
          </select>
        </div>

        <!-- Campo especie -->
        <div class="mb-2 flex-1">
          <div class="flex flex-row">
            <label class="block text-black/60 text-md font-medium mb-2">
              Castrado
            </label>
            <div *ngIf="castrated.invalid && castrated.touched">
              <p class="text-red-500 text-sm font-semibold pl-2 mt-1">
                - Campo Obrigatorio
              </p>
            </div>
          </div>
          <!-- Select de Espécie -->
          <select
            class="w-full h-11 rounded-lg shadow-[0_0_2px_rgba(0,0,0,0.25)] px-3 py-2 text-base focus:border-orange-400 focus:outline-none focus:ring-1 focus:ring-orange-400"
            [(ngModel)]="Animal.castrated"
            name="castrated"
            #castrated="ngModel"
            required
          >
            <option [ngValue]="false">Nao</option>
            <option [ngValue]="true">Sim</option>
            >
          </select>
        </div>
        <!-- Chipado -->
        <div class="mb-2 flex-1">
          <div class="flex flex-row">
            <label class="block text-black/60 text-md font-medium mb-2">
              MicroChipado
            </label>
            <div *ngIf="microchipped.invalid && microchipped.touched">
              <p class="text-red-500 text-sm font-semibold pl-2 mt-1">
                - Campo Obrigatorio
              </p>
            </div>
          </div>
          <!-- Select de Espécie -->
          <select
            class="w-full h-11 rounded-lg shadow-[0_0_2px_rgba(0,0,0,0.25)] px-3 py-2 text-base focus:border-orange-400 focus:outline-none focus:ring-1 focus:ring-orange-400"
            [(ngModel)]="Animal.microchipped"
            name="microchipped"
            #microchipped="ngModel"
            required
          >
            <option [ngValue]="false">Nao</option>
            <option [ngValue]="true">Sim</option>
            >
          </select>
        </div>
      </div>
      <div class="mb-2 flex-1">
        <div class="flex justify-between items-center mb-2">
          <label class="block text-black/60 text-md font-medium" for="note">
            Observacão geral
          </label>
          <span class="text-sm text-black/40">
            {{ Animal.observation.length }}/300
          </span>
        </div>

        <textarea
          class="appearance-none shadow-[0_0_2px_rgba(0,0,0,0.25)] rounded-[8px] font-semibold w-full h-18 py-3 px-3 placeholder:text-black/40 text-black/80 text-[16px] leading-tight focus:outline-none focus:shadow-outline resize-none"
          id="note"
          placeholder="Observacao de temperamento, convivencia com outros animais, estado de saude, etc..."
          [(ngModel)]="Animal.observation"
          maxlength="300"
          name="note"
        ></textarea>
      </div>
      <div class="">
        <button
          class="bg-blue-500/90 font-primary hover:bg-blue-700 text-white font-bold py-3 px-4 w-full rounded-[8px] focus:outline-none focus:shadow-outline"
          type="submit"
          [disabled]="form.invalid"
          [ngClass]="{
            'bg-blue-500 hover:bg-blue-700': !form.invalid,
            'bg-gray-400 cursor-not-allowed': form.invalid
          }"
        >
          Gravar
        </button>
      </div>
    </div>
  </form>
</div>
