<div class="flex flex-col h-full w-full p-10">
  <div class="max-w-[150px] -mt-4">
    <button
      class="bg-gray-300 font-primary hover:bg-blue-700 text-white font-bold py-3 px-4 w-full rounded-[8px] focus:outline-none focus:shadow-outline"
      type="button"
      (click)="Back()"
    >
      Voltar
    </button>
  </div>
  <!-- formulario -->
  <form (ngSubmit)="CreateAnimal()" #form="ngForm">
    <div class="flex-1 flex mt-3">
      <!-- Upload de foto do animal desenvolvimento -->
      <div class="flex-1 flex flex-col items-center justify-center">
        <!-- Imagem do animal (imagem da web) -->
        <div class="w-80 h-60 border-4 border-gray-200 rounded p-2">
          <img
            src="https://images.unsplash.com/photo-1517849845537-4d257902454a?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="Foto do animal"
            class="w-full h-full object-cover rounded-md"
          />
        </div>
      </div>
      <!-- Primeiro card -->
      <div class="flex-2 w-full p-2">
        <!-- Campo Nome -->
        <FieldInput
          class="flex-1"
          label="Nome"
          placeholder="Rex"
          [(value)]="Animal.name"
          fieldName="name"
          [required]="true"
        >
        </FieldInput>
        <div class="flex flex-row gap-4">
          <!-- Campo Idade -->
          <FieldInput
            class="flex-1"
            label="Idade"
            placeholder="4 meses"
            [(value)]="Animal.age"
            fieldName="age"
            [required]="true"
          ></FieldInput>
          <!-- Campo raca -->
          <FieldInput
            class="flex-1"
            label="Raça"
            placeholder="Lavrador"
            [(value)]="Animal.race"
            fieldName="race"
            [required]="true"
          ></FieldInput>
        </div>
        <div class="flex flex-row w-full gap-4">
          <!-- Campo genero -->
          <FormSelect
            class="flex-1"
            label="Genero"
            name="gender"
            [options]="[
              { label: 'Macho', value: 'Macho' },
              { label: 'Femea', value: 'Femea' }
            ]"
            [(value)]="Animal.gender"
            [required]="true"
          ></FormSelect>
          <!-- Campo especie -->
          <FormSelect
            class="flex-1"
            label="Especie"
            name="species"
            [options]="[
              { label: 'Cachorro', value: 'Cachorro' },
              { label: 'Gato', value: 'Gato' }
            ]"
            [(value)]="Animal.species"
            [required]="true"
          ></FormSelect>
        </div>
      </div>
    </div>
    <div class="flex-1">
      <div class="flex flex-row w-full gap-4">
        <!-- Campo cor -->
        <FieldInput
          class="flex-1"
          label="Cor"
          placeholder="Marrom..."
          [(value)]="Animal.color"
          fieldName="color"
          [required]="true"
        >
        </FieldInput>
        <!-- Campo Porte -->
        <FormSelect
          class="flex-1"
          label="Porte"
          name="size"
          [options]="[
            { label: 'Pequeno', value: 'Pequeno' },
            { label: 'Medio', value: 'Medio' },
            { label: 'Grande', value: 'Grande' },
            { label: 'Gigante', value: 'Gigante' },
            { label: 'Nao sei Informar', value: 'Desconhecido' }
          ]"
          [(value)]="Animal.size"
          [required]="true"
        ></FormSelect>
      </div>
      <div class="flex flex-row w-full gap-4">
        <!-- Campo peso -->
        <FieldInput
          class="flex-1"
          label="Peso (kg)"
          placeholder="15.5"
          [(value)]="Animal.weight"
          fieldName="weight"
          [required]="true"
        >
        </FieldInput>
        <!-- Campo altura -->
        <FieldInput
          class="flex-1"
          label="Altura (cm)"
          placeholder="45"
          [(value)]="Animal.height"
          fieldName="height"
          [required]="true"
        ></FieldInput>
      </div>
      <!-- Descricao Fisica -->
      <FormArea
        label="Descrição"
        placeholder="Breve descricao das caracteristicas fisicas..."
        [maxlength]="200"
        [(value)]="Animal.physicalDescription"
      ></FormArea>
    </div>
    <div class="flex-1">
      <div class="flex flex-row w-full gap-4">
        <!-- Campo Vacinado -->
        <FormSelect
          class="flex-1"
          label="Vacinado"
          name="vaccinated"
          [options]="[
            { label: 'Não', value: false },
            { label: 'Sim', value: true }
          ]"
          [(value)]="Animal.vaccinated"
          [required]="true"
        ></FormSelect>
        <!-- Campo Castrado -->
        <FormSelect
          class="flex-1"
          label="Castrado"
          name="castrated"
          [options]="[
            { label: 'Não', value: false },
            { label: 'Sim', value: true }
          ]"
          [(value)]="Animal.castrated"
          [required]="true"
        ></FormSelect>
        <!-- Chipado -->
        <FormSelect
          class="flex-1"
          label="MicroChipado"
          name="microchipped"
          [options]="[
            { label: 'Não', value: false },
            { label: 'Sim', value: true }
          ]"
          [(value)]="Animal.microchipped"
          [required]="true"
        ></FormSelect>
      </div>
      <!-- Descricao Fisica -->
      <FormArea
        label="Observaçao"
        placeholder="Observacao de temperamento, convivencia com outros animais, estado de saude, etc..."
        [maxlength]="200"
        [(value)]="Animal.observation"
      ></FormArea>
      <div class="">
        <button
          class="bg-blue-500/90 font-primary hover:bg-blue-700 text-white font-bold py-3 px-4 w-full rounded-[8px] focus:outline-none focus:shadow-outline"
          type="submit"
          [disabled]="form.invalid"
          [ngClass]="{
            'bg-blue-500 hover:bg-blue-700': !form.invalid,
            'bg-gray-400 cursor-not-allowed': form.invalid
          }"
        >
          Gravar
        </button>
      </div>
    </div>
  </form>
</div>
