<main class="p-10 flex flex-col w-full h-full">
  <div class="flex justify-end">
    <button
      class="shadow-[0_0_8px_rgba(0,0,0,0.20)] rounded-lg p-3 hover:bg-blue-500 hover:text-white font-semibold"
    >
      Cadastrar
    </button>
  </div>
  <!-- Botoes de navegacao -->
  <div class="flex justify-end mt-3 gap-4">
    <Button class="flex items-center border border-gray-200 rounded-lg p-1">
      <lucide-angular
        [img]="Chevronleft"
        class="text-black/50"
        [size]="24"
      ></lucide-angular
    ></Button>
    <Button class="flex items-center border border-gray-200 rounded-lg p-1">
      <lucide-angular
        [img]="Chevronright"
        class="text-black/50"
        [size]="24"
      ></lucide-angular
    ></Button>
  </div>
</main>
