<main class="flex flex-col h-full w-full p-10 gap-8">
  <div class="flex flex-row flex-1 w-full">
    <div class="flex flex-row w-full gap-8">
      <!-- Card 1 -->
      <div
        class="flex h-full w-full flex-col rounded-lg shadow-[0_0_8px_rgba(0,0,0,0.20)] p-8"
      >
        <div class="flex flex-row justify-between w-full">
          <h1 class="text-[18px] font-semibold text-black/60">
            Animais disponiveis
          </h1>
          <lucide-angular
            [img]="paw"
            class="text-yellow-500"
            [size]="26"
          ></lucide-angular>
        </div>
        <div class="flex mt-2 justify-start h-full">
          <h1 class="text-6xl font-bold text-black/80">127</h1>
        </div>
        <div class="flex items-center gap-1 mt-2">
          <lucide-angular
            [img]="trendinup"
            class="text-green-500"
            [size]="26"
          ></lucide-angular>
          <span class="text-sm text-green-600 font-medium">+12% este mês</span>
        </div>
      </div>
      <!-- Card 2 -->
      <div
        class="flex h-full w-full flex-col rounded-lg shadow-[0_0_8px_rgba(0,0,0,0.20)] p-8"
      >
        <div class="flex flex-row justify-between w-full">
          <h1 class="text-[18px] font-semibold text-black/60">
            Total de animais adotados
          </h1>
          <lucide-angular
            [img]="heart"
            class="text-red-500"
            [size]="26"
          ></lucide-angular>
        </div>
        <div class="flex mt-2 justify-start h-full">
          <h1 class="text-6xl font-bold text-black/80">23</h1>
        </div>
        <div class="flex items-center gap-1 mt-2">
          <lucide-angular
            [img]="trendinDown"
            class="text-red-500"
            [size]="26"
          ></lucide-angular>
          <span class="text-sm text-red-600 font-medium">-20% este mês</span>
        </div>
      </div>
      <!-- Card 3 -->
      <div
        class="flex flex-col h-full w-full rounded-lg shadow-[0_0_8px_rgba(0,0,0,0.20)] p-6"
      >
        <h1 class="text-[18px] font-semibold text-black/60">Meta de Adoções</h1>
        <span class="text-sm text-black/50 mb-4">Progresso mensal</span>

        <!-- Valores -->
        <div class="flex justify-between items-center">
          <span class="text-base font-medium text-black/80"
            >23 de 30 adoções</span
          >
          <span class="text-base font-medium text-black/80">50%</span>
        </div>

        <!-- Barra de progresso atualizar o valor no style.-->
        <div class="w-full h-2 rounded-full bg-neutral-100 mt-2">
          <div
            class="h-full bg-black rounded-full transition-all duration-500"
            style="width: 50%"
          ></div>
        </div>

        <!-- Mensagem -->
        <span class="text-sm text-black/50 mt-2 block">
          Faltam apenas
          <span class="font-semibold text-black/80">7 adoções</span>
          para bater a meta!
        </span>
      </div>
    </div>
  </div>
  <!-- Card para analisar formularios de adoções -->
  <div class="flex flex-3">
    <div
      class="flex h-full flex-col w-full rounded-lg shadow-[0_0_8px_rgba(0,0,0,0.20)] p-8"
    >
      <div class="flex flex-row w-full justify-between">
        <div class="flex flex-row gap-2">
          <lucide-angular
            [img]="heart"
            class="text-red-500"
            [size]="24"
          ></lucide-angular>
          <span class="text-base text-black/60 font-semibold"
            >Formularios para adoção</span
          >
        </div>
        <!-- Botoes de navegacao -->
        <div class="flex -mt-4 gap-4">
          <Button
            class="flex items-center border border-gray-200 rounded-lg p-1"
          >
            <lucide-angular
              [img]="Chevronleft"
              class="text-black/50"
              [size]="24"
            ></lucide-angular
          ></Button>
          <Button
            class="flex items-center border border-gray-200 rounded-lg p-1"
          >
            <lucide-angular
              [img]="Chevronright"
              class="text-black/50"
              [size]="24"
            ></lucide-angular
          ></Button>
        </div>
      </div>

      <div
        class="flex flex-col border border-gray-200 max-w-[380px] w-full rounded-lg mt-4 h-full overflow-hidden shadow-md"
      >
        <!-- Imagem do animal (imagem da web) -->
        <div class="w-full h-58 bg-gray-200">
          <img
            src="https://images.unsplash.com/photo-1518020382113-a7e8fc38eac9?q=80&w=2034&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="Foto do animal"
            class="w-full h-full object-cover"
          />
        </div>

        <!-- Dados do animal -->
        <div class="p-4 flex-1">
          <!-- Nome -->
          <div class="flex flex-row gap-2 items-center justify-between">
            <div class="flex flex-row items-center gap-2">
              <lucide-angular
                [img]="paw"
                class="text-blue-500"
                [size]="20"
              ></lucide-angular>
              <h2 class="text-2xl font-bold text-black/80">Rex</h2>
            </div>
            <div class="flex items-center mt-2">
              <span
                class="inline-block h-2 w-2 rounded-full bg-yellow-400 mr-1"
              ></span>
              <span class="text-sm font-medium text-yellow-400">Andamento</span>
            </div>
          </div>
          <!-- Genero -->
          <div class="flex flex-row gap-2 items-center mt-3">
            <lucide-angular
              [img]="mars"
              class="text-blue-500"
              [size]="20"
            ></lucide-angular>
            <span class="text-sm font-semibold text-black/60">Masculino</span>
          </div>
          <!-- Idade -->
          <div class="flex flex-row gap-2 items-center mt-3">
            <lucide-angular
              [img]="Cake"
              class="text-blue-500"
              [size]="20"
            ></lucide-angular>
            <span class="text-sm font-semibold text-black/60">0.5 ano(s)</span>
          </div>
          <!-- Cidade -->
          <div class="flex flex-row gap-2 items-center mt-3">
            <lucide-angular
              [img]="map"
              class="text-blue-500"
              [size]="20"
            ></lucide-angular>
            <span class="text-sm font-semibold text-black/60"
              >Brasilia / DF</span
            >
          </div>
          <!-- Nome do adotante -->
          <div class="flex flex-row gap-2 items-center mt-3">
            <lucide-angular
              [img]="user"
              class="text-blue-500"
              [size]="20"
            ></lucide-angular>
            <span class="text-sm font-semibold text-black/60"
              >Murillo Weis Kist</span
            >
          </div>
          <!-- Contato do adotante -->
          <div class="flex flex-row gap-2 items-center mt-3">
            <lucide-angular
              [img]="phone"
              class="text-blue-500"
              [size]="20"
            ></lucide-angular>
            <span class="text-sm font-semibold text-black/60"
              >(44) 91234-5678</span
            >
          </div>
        </div>
        <!-- Botão para ver mais -->
        <div class="p-3 bg-gray-50 text-center">
          <button
            class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition"
          >
            Ver Formulários de Adoção
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
