<main class="flex flex-col h-full w-full p-10 gap-8">
  <div class="flex flex-row flex-1 w-full">
    <div class="flex flex-row w-full gap-8">
      <!-- Card 1 -->
      <BasicCard
        class="w-full"
        title="Animais disponiveis"
        [icon]="paw"
        iconColor="text-yellow-500"
        [status]="negativeOrPositive(progressAavailables)"
        [value]="totalAvailables"
        [percent]="progressAavailables"
      ></BasicCard>
      <!-- Card 2 -->
      <BasicCard
        class="w-full"
        title="Total de adoções"
        [icon]="heart"
        iconColor="text-red-500"
        [status]="'negative'"
        [value]="23"
        [percent]="20"
      ></BasicCard>
      <!-- Card 3 -->
      <div
        class="flex flex-col h-full w-full rounded-lg shadow-[0_0_8px_rgba(0,0,0,0.20)] p-6"
      >
        <h1 class="text-[18px] font-semibold text-black/60">Meta de Adoções</h1>
        <span class="text-sm text-black/50 mb-4">Progresso mensal</span>

        <!-- Valores --
        <div class="flex justify-between items-center">
          <span class="text-base font-medium text-black/80"
            >23 de 30 adoções</span
          >
          <span class="text-base font-medium text-black/80">50%</span>
        </div>

        <!-- Barra de progresso atualizar o valor no style.-->
        <div class="w-full h-2 rounded-full bg-neutral-100 mt-2">
          <div
            class="h-full bg-black rounded-full transition-all duration-500"
            style="width: 50%"
          ></div>
        </div>

        <!-- Mensagem -->
        <span class="text-sm text-black/50 mt-2 block">
          Faltam apenas
          <span class="font-semibold text-black/80">7 adoções</span>
          para bater a meta!
        </span>
      </div>
    </div>
  </div>
  <!-- Card para analisar formularios de adoções -->
  <div class="flex flex-3">
    <div
      class="flex h-full flex-col w-full rounded-lg shadow-[0_0_8px_rgba(0,0,0,0.20)] p-8"
    >
      <div class="flex flex-row w-full justify-between">
        <div class="flex flex-row gap-2">
          <lucide-angular
            [img]="heart"
            class="text-red-500"
            [size]="24"
          ></lucide-angular>
          <span class="text-base text-black/60 font-semibold"
            >Formularios para adoção</span
          >
        </div>
        <!-- Botoes de navegacao -->
        <div class="flex -mt-4 gap-4">
          <Button
            class="flex items-center border border-gray-200 rounded-lg p-1"
          >
            <lucide-angular
              [img]="Chevronleft"
              class="text-black/50"
              [size]="24"
            ></lucide-angular
          ></Button>
          <Button
            class="flex items-center border border-gray-200 rounded-lg p-1"
          >
            <lucide-angular
              [img]="Chevronright"
              class="text-black/50"
              [size]="24"
            ></lucide-angular
          ></Button>
        </div>
      </div>
      <!-- Cards de adoção -->
      <div class="grid grid-cols-4 gap-4">
        <AdoptionCard
          adopter="Murillo Weis Kist"
          [age]="5"
          gender="Macho"
          location="Toledo"
          phone="(44) 912345-6789"
          [status]="'pending'"
          name="Rex"
          photoUrl="https://plus.unsplash.com/premium_photo-1694819488591-a43907d1c5cc?q=80&w=2028&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        ></AdoptionCard>
        <AdoptionCard
          adopter="Murillo Weis Kist"
          [age]="5"
          gender="Macho"
          location="Toledo"
          phone="(44) 912345-6789"
          [status]="'completed'"
          name="Rex"
          photoUrl="https://plus.unsplash.com/premium_photo-1694819488591-a43907d1c5cc?q=80&w=2028&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        ></AdoptionCard>
        <AdoptionCard
          adopter="Murillo Weis Kist"
          [age]="5"
          gender="Macho"
          location="Toledo"
          phone="(44) 912345-6789"
          [status]="'pending'"
          name="Rex"
          photoUrl="https://plus.unsplash.com/premium_photo-1694819488591-a43907d1c5cc?q=80&w=2028&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        ></AdoptionCard>
        <AdoptionCard
          adopter="Murillo Weis Kist"
          [age]="5"
          gender="Macho"
          location="Toledo"
          phone="(44) 912345-6789"
          [status]="'completed'"
          name="Rex"
          photoUrl="https://plus.unsplash.com/premium_photo-1694819488591-a43907d1c5cc?q=80&w=2028&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        ></AdoptionCard>
      </div>
    </div>
  </div>
</main>
