<main class="flex flex-col h-full w-full p-10 gap-8">
  <div class="flex flex-row flex-1 w-full">
    <div class="flex flex-row w-full gap-8">
      <!-- Card 1 -->
      <div
        class="flex h-full w-full flex-col rounded-lg shadow-[0_0_8px_rgba(0,0,0,0.20)] p-8"
      >
        <div class="flex flex-row justify-between w-full">
          <h1 class="text-[18px] font-semibold text-black/60">
            Animais disponiveis
          </h1>
          <lucide-angular
            [img]="paw"
            class="text-yellow-500"
            [size]="26"
          ></lucide-angular>
        </div>
        <div class="flex mt-2 justify-start h-full">
          <h1 class="text-6xl font-bold text-black/80">127</h1>
        </div>
        <div class="flex items-center gap-1 mt-2">
          <lucide-angular
            [img]="trendinup"
            class="text-green-500"
            [size]="26"
          ></lucide-angular>
          <span class="text-sm text-green-600 font-medium">+12% este mês</span>
        </div>
      </div>
      <!-- Card 2 -->
      <div
        class="flex h-full w-full flex-col rounded-lg shadow-[0_0_8px_rgba(0,0,0,0.20)] p-8"
      >
        <div class="flex flex-row justify-between w-full">
          <h1 class="text-[18px] font-semibold text-black/60">
            Total de animais adotados
          </h1>
          <lucide-angular
            [img]="heart"
            class="text-red-500"
            [size]="26"
          ></lucide-angular>
        </div>
        <div class="flex mt-2 justify-start h-full">
          <h1 class="text-6xl font-bold text-black/80">23</h1>
        </div>
        <div class="flex items-center gap-1 mt-2">
          <lucide-angular
            [img]="trendinDown"
            class="text-red-500"
            [size]="26"
          ></lucide-angular>
          <span class="text-sm text-red-600 font-medium">+20% este mês</span>
        </div>
      </div>
      <!-- Card 3 -->
      <div
        class="flex flex-col h-full w-full rounded-lg shadow-[0_0_8px_rgba(0,0,0,0.20)] p-6"
      >
        <h1 class="text-[18px] font-semibold text-black/80">Meta de Adoções</h1>
        <span class="text-sm text-black/50 mb-4">Progresso mensal</span>

        <!-- Valores -->
        <div class="flex justify-between items-center">
          <span class="text-base font-medium text-black/80"
            >23 de 30 adoções</span
          >
          <span class="text-base font-medium text-black/80">77%</span>
        </div>

        <!-- Barra de progresso -->
        <div class="w-full h-2 rounded-full bg-neutral-100 mt-2">
          <div
            class="h-full bg-black rounded-full transition-all duration-500"
            style="width: 77%"
          ></div>
        </div>

        <!-- Mensagem -->
        <span class="text-sm text-black/50 mt-2 block">
          Faltam apenas
          <span class="font-semibold text-black/80">7 adoções</span>
          para bater a meta!
        </span>
      </div>
    </div>
  </div>
  <div class="flex flex-3">
    <div
      class="flex h-full w-full rounded-lg shadow-[0_0_8px_rgba(0,0,0,0.20)]"
    >
      painel de analise de formularios
    </div>
  </div>
</main>
