<div
  class="w-full max-h-64 h-full shadow-[0_0_8px_rgba(0,0,0,0.20)] rounded-lg flex mt-4 p-2"
>
  <div class="flex-1 flex flex-col items-center justify-center">
    <!-- Imagem do animal (imagem da web) -->
    <div class="w-46 h-46 bg-gray-200 rounded-full">
      <img
        [src]="photoUrl"
        alt="Foto do animal"
        class="w-full h-full object-cover rounded-full"
      />
    </div>
    <!-- Nome do Animal -->
  </div>
  <div class="flex flex-col flex-1/6">
    <div class="flex-1">
      <div class="flex flex-row gap-2 items-center justify-between">
        <div class="flex flex-row items-center gap-2">
          <lucide-angular
            [img]="paw"
            class="text-blue-500"
            [size]="20"
          ></lucide-angular>
          <h2 class="text-2xl font-bold text-black/80">{{ name }}</h2>
        </div>
        <div
          class="flex items-center mt-2 pr-2"
          *ngIf="status === 'disponivel'"
        >
          <span
            class="inline-block h-2 w-2 rounded-full bg-green-400 mr-1"
          ></span>
          <span class="text-sm font-medium text-green-400">Disponivel</span>
        </div>
        <div class="flex items-center mt-2 pr-2" *ngIf="status === 'adotado'">
          <span
            class="inline-block h-2 w-2 rounded-full bg-blue-400 mr-1"
          ></span>
          <span class="text-sm font-medium text-blue-400">Adotado</span>
        </div>
        <div class="flex items-center mt-2 pr-2" *ngIf="status === 'andamento'">
          <span
            class="inline-block h-2 w-2 rounded-full bg-yellow-400 mr-1"
          ></span>
          <span class="text-sm font-medium text-yellow-400">Processando</span>
        </div>
        <div class="flex items-center mt-2 pr-2" *ngIf="status === 'falecido'">
          <span
            class="inline-block h-2 w-2 rounded-full bg-red-400 mr-1"
          ></span>
          <span class="text-sm font-medium text-red-400">Falecido</span>
        </div>
      </div>
    </div>
    <div class="flex-4">
      <!-- Especie -->
      <div class="flex flex-row gap-2 items-center mt-3">
        <lucide-angular
          [img]="mars"
          class="text-blue-500"
          [size]="20"
        ></lucide-angular>
        <span class="text-sm font-semibold text-black/60">{{ species }}</span>
      </div>
      <!-- sexo -->
      <div class="flex flex-row gap-2 items-center mt-2">
        <lucide-angular
          [img]="mars"
          class="text-blue-500"
          [size]="20"
        ></lucide-angular>
        <span class="text-sm font-semibold text-black/60">{{ gender }}</span>
      </div>
      <!-- idade -->
      <div class="flex flex-row gap-2 items-center mt-2">
        <lucide-angular
          [img]="Cake"
          class="text-blue-500"
          [size]="20"
        ></lucide-angular>
        <span class="text-sm font-semibold text-black/60">{{ age }}</span>
      </div>
      <!-- data de cadastro -->
      <div class="flex flex-row gap-2 items-center mt-2">
        <lucide-angular
          [img]="mars"
          class="text-blue-500"
          [size]="20"
        ></lucide-angular>
        <span class="text-sm font-semibold text-black/60">{{ size }}</span>
      </div>
      <!-- Dados complementares -->
      <div class="flex flex-row gap-2 justify-between items-center mt-2">
        <div class="flex flex-row gap-2">
          <lucide-angular
            *ngIf="vaccinated === true"
            [img]="syringe"
            class="text-blue-500"
            [size]="22"
          ></lucide-angular>
          <lucide-angular
            *ngIf="castrated === true"
            [img]="shield"
            class="text-yellow-500"
            [size]="22"
          ></lucide-angular>
          <lucide-angular
            *ngIf="castrated === true"
            [img]="microchip"
            class="text-green-500"
            [size]="22"
          ></lucide-angular>
        </div>
        <div class="  ">
          <button
            class="hover:bg-gray-100 py-1 px-1 rounded-full items-center justify-center flex"
          >
            <lucide-angular
              [img]="More"
              class="text-black/70"
              [size]="22"
            ></lucide-angular>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
