<main class="flex flex-col h-full w-full p-10 gap-8">
<!-- primeira seccao -->
  <div class="flex flex-row flex-1 w-full">
    <div class="flex flex-row w-full gap-8">
      <!-- Card 1 -->
      <div
        class="flex h-full w-full flex-col rounded-lg shadow-[0_0_8px_rgba(0,0,0,0.20)] p-8"
      >
        <div class="flex flex-row justify-between w-full">
          <h1 class="text-[18px] font-semibold text-black/60">
            Total Arrecadado
          </h1>
          <lucide-angular
            [img]="paw"
            class="text-yellow-500"
            [size]="26"
          ></lucide-angular>
        </div>
        <div class="flex mt-2 justify-start h-full">
          <h1 class="text-6xl font-bold text-black/80">127</h1>
        </div>
        <div class="flex items-center gap-1 mt-2">
          <lucide-angular
            [img]="trendinup"
            class="text-green-500"
            [size]="26"
          ></lucide-angular>
          <span class="text-sm text-green-600 font-medium">+12% este mês</span>
        </div>
      </div>
      <!-- Card 2 -->
      <div
        class="flex h-full w-full flex-col rounded-lg shadow-[0_0_8px_rgba(0,0,0,0.20)] p-8"
      >
        <div class="flex flex-row justify-between w-full">
          <h1 class="text-[18px] font-semibold text-black/60">
            Doacoes este mes
          </h1>
          <lucide-angular
            [img]="heart"
            class="text-red-500"
            [size]="26"
          ></lucide-angular>
        </div>
        <div class="flex mt-2 justify-start h-full">
          <h1 class="text-6xl font-bold text-black/80">23</h1>
        </div>
        <div class="flex items-center gap-1 mt-2">
          <lucide-angular
            [img]="trendinDown"
            class="text-red-500"
            [size]="26"
          ></lucide-angular>
          <span class="text-sm text-red-600 font-medium">-20% este mês</span>
        </div>
      </div>
      <!-- Card 2 -->
      <div
        class="flex h-full w-full flex-col rounded-lg shadow-[0_0_8px_rgba(0,0,0,0.20)] p-8"
      >
        <div class="flex flex-row justify-between w-full">
          <h1 class="text-[18px] font-semibold text-black/60">
            Avaliaçao Medias
          </h1>
          <lucide-angular
            [img]="heart"
            class="text-red-500"
            [size]="26"
          ></lucide-angular>
        </div>
        <div class="flex mt-2 justify-start h-full">
          <h1 class="text-6xl font-bold text-black/80">23</h1>
        </div>
        <div class="flex items-center gap-1 mt-2">
          <lucide-angular
            [img]="trendinDown"
            class="text-red-500"
            [size]="26"
          ></lucide-angular>
          <span class="text-sm text-red-600 font-medium">-20% este mês</span>
        </div>
      </div>
      <!-- Card 4 -->
            <div
        class="flex h-full w-full flex-col rounded-lg shadow-[0_0_8px_rgba(0,0,0,0.20)] p-8"
      >
        <div class="flex flex-row justify-between w-full">
          <h1 class="text-[18px] font-semibold text-black/60">
            Reviews este mes
          </h1>
          <lucide-angular
            [img]="heart"
            class="text-red-500"
            [size]="26"
          ></lucide-angular>
        </div>
        <div class="flex mt-2 justify-start h-full">
          <h1 class="text-6xl font-bold text-black/80">23</h1>
        </div>
        <div class="flex items-center gap-1 mt-2">
          <lucide-angular
            [img]="trendinDown"
            class="text-red-500"
            [size]="26"
          ></lucide-angular>
          <span class="text-sm text-red-600 font-medium">-20% este mês</span>
        </div>
      </div>
    </div>
  </div>
  <!-- Card para analisar formularios de adoções -->
  <div class="flex flex-3"></div>
</main>
