<main class="flex flex-col h-full w-full p-10 gap-8">
  <!-- primeira seccao -->
  <div class="flex flex-row flex-1 w-full">
    <div class="flex flex-row w-full gap-8">
      <!-- Card 1 -->
      <BasicCard
        class="flex-1"
        title="Total de Doações"
        [icon]="dollarsign"
        iconColor="text-green-500"
        [status]="'positive'"
        [value]="127"
        [percent]="12"
      ></BasicCard>
      <!-- Card 2 -->
      <BasicCard
        class="flex-1"
        title="Doacoes este mes"
        [icon]="giftcard"
        iconColor="text-orange-500"
        [status]="'positive'"
        [value]="23"
        [percent]="12"
      ></BasicCard>
      <!-- Card 2 -->
      <div
        class="flex h-full flex-1 flex-col rounded-lg shadow-[0_0_8px_rgba(0,0,0,0.20)] p-8"
      >
        <div class="flex flex-row justify-between w-full">
          <h1 class="text-[18px] font-semibold text-black/60">
            Avaliaçao Medias
          </h1>
          <lucide-angular
            [img]="star"
            class="text-yellow-500"
            [size]="26"
          ></lucide-angular>
        </div>
        <div class="flex mt-2 justify-start h-full">
          <h1 class="text-6xl font-bold text-black/80">4.8</h1>
        </div>
        <div class="flex items-center gap-1 mt-2">
          <ng-container *ngFor="let starItem of [1, 2, 3, 4, 5]; let i = index">
            <lucide-angular
              [img]="star"
              class="text-yellow-500"
              [size]="22"
            ></lucide-angular>
          </ng-container>
          <span class="text-sm font-medium">(127 reviews)</span>
        </div>
      </div>
      <!-- Card 4 -->
      <BasicCard
        class="flex-1"
        title="Reviews este mes"
        [icon]="messagesquare"
        iconColor="text-blue-500"
        [status]="'positive'"
        [value]="23"
        [percent]="12"
      ></BasicCard>
    </div>
  </div>

  <div class="flex flex-col flex-3">
    <div class="flex flex-row items-center justify-between">
      <!-- Card para analisar formularios de adoções -->
      <div class="w-70 rounded-lg h-10 flex shadow-[0_0_8px_rgba(0,0,0,0.20)]">
        <button
          class="flex-1 flex flex-row rounded-lg items-center justify-center p-1"
          (click)="setActive('donations')"
          [ngClass]="{
            'bg-white': activeTab === 'donations',
            'bg-gray-50': activeTab !== 'donations'
          }"
        >
          <lucide-angular
            [img]="giftcard"
            [size]="18"
            [ngClass]="{
              'text-orange-500': activeTab === 'donations',
              'text-black/50': activeTab !== 'donations'
            }"
          ></lucide-angular>
          <h1
            class="text-sm ml-1 font-semibold text-black/60"
            [ngClass]="{
              'text-black/60': activeTab === 'donations',
              'text-black/50': activeTab !== 'donations'
            }"
          >
            Doações
          </h1>
        </button>
        <button
          class="flex-1 flex flex-row rounded-lg items-center justify-center p-1"
          (click)="setActive('reviews')"
          [ngClass]="{
            'bg-white': activeTab === 'reviews',
            'bg-gray-50': activeTab !== 'reviews'
          }"
        >
          <lucide-angular
            [img]="star"
            [size]="18"
            [ngClass]="{
              'text-orange-500': activeTab === 'reviews',
              'text-black/50': activeTab !== 'reviews'
            }"
          ></lucide-angular>
          <h1
            class="text-sm ml-1 font-semibold text-black/50"
            [ngClass]="{
              'text-black/60': activeTab === 'donations',
              'text-black/50': activeTab !== 'donations'
            }"
          >
            reviews
          </h1>
        </button>
      </div>
      <!-- Botoes de navegacao -->
      <div class="flex mt-2 gap-4">
        <Button class="flex items-center border border-gray-200 rounded-lg p-1">
          <lucide-angular
            [img]="Chevronleft"
            class="text-black/50"
            [size]="24"
          ></lucide-angular
        ></Button>
        <Button class="flex items-center border border-gray-200 rounded-lg p-1">
          <lucide-angular
            [img]="Chevronright"
            class="text-black/50"
            [size]="24"
          ></lucide-angular
        ></Button>
      </div>
    </div>
    <!-- Tabela de doacoes -->
    <div class="mt-4">
      <div *ngIf="activeTab === 'donations'" class="grid grid-cols-4 gap-4">
        <CardDonation status="pending"></CardDonation>
        <CardDonation status="completed"></CardDonation>
        <CardDonation status="pending"></CardDonation>
        <CardDonation status="completed"></CardDonation>
        <CardDonation status="pending"></CardDonation>
        <CardDonation status="completed"></CardDonation>
        <CardDonation status="pending"></CardDonation>
        <CardDonation status="completed"></CardDonation>
      </div>
      <div *ngIf="activeTab === 'reviews'" class="grid grid-cols-2 gap-4">
        <ReviewCard
          autor="Murilo Weis Kist"
          date="29/05/2025"
          [rating]="3"
          content="Gostei muito do atendimento e da facilidade de uso do site. Recomendo para todos que desejam ajudar animais!"
        ></ReviewCard>
        <ReviewCard
          autor="Murilo Weis Kist"
          date="29/05/2025"
          [rating]="3"
          content="Gostei muito do atendimento e da facilidade de uso do site. Recomendo para todos que desejam ajudar animais!"
        ></ReviewCard>
        <ReviewCard
          autor="Murilo Weis Kist"
          date="29/05/2025"
          [rating]="3"
          content="Gostei muito do atendimento e da facilidade de uso do site. Recomendo para todos que desejam ajudar animais!"
        ></ReviewCard>
        <ReviewCard
          autor="Murilo Weis Kist"
          date="29/05/2025"
          [rating]="3"
          content="Gostei muito do atendimento e da facilidade de uso do site. Recomendo para todos que desejam ajudar animais!"
        ></ReviewCard>
        <ReviewCard
          autor="Murilo Weis Kist"
          date="29/05/2025"
          [rating]="3"
          content="Gostei muito do atendimento e da facilidade de uso do site. Recomendo para todos que desejam ajudar animais!"
        ></ReviewCard>
        <ReviewCard
          autor="Murilo Weis Kist"
          date="29/05/2025"
          [rating]="3"
          content="Gostei muito do atendimento e da facilidade de uso do site. Recomendo para todos que desejam ajudar animais!"
        ></ReviewCard>
      </div>
    </div>
  </div>
</main>
